fastapi
uvicorn
pydantic
redis 
groq
python-multipart 
yt-dlp 
pymupdf
python-dotenv
youtube_transcript_api==1.0.3
google-api-python-client==2.100.0
requests
deepgram-sdk
supadata
sentence_transformers
